@charset "UTF-8";

body {
	/* 	background-color: #C2DDDE; */
	background-color: #d9eaea;
	color: #28495D;
}



.article{
	opacity: 0;
	transform: translateY(100px) /*スクロールアップする距離*/;
	transition: all 2s /*処理にかかる時間*/;
}

.article.done {
	opacity: 1;
	transform: translate(0, 0);
}



header { 
	position: relative;
	width: 100%;
	position: fixed;
    top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

header h1 {
	position: absolute;
	color: white;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size:30px;
}

header > h1 > a {
	text-decoration:none;
	color: white;
}

.img-header {
	position: relative;
	width: 100%;
	height: 100px;
	object-fit: cover;
	object-position: 25% 67%;
}

.overlay {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100px;
	background: rgba(235,113,68,0.18);
}


.wrapper {
	max-width: 60%; 
	margin:auto; 
	padding: 20px;
	padding-top:110px;
	/* 	background-color: #B3D5D5; */

	/* 	border: 1px solid #ccc; */
	/* 	border-radius: 5px; */
}

.article {
	/* 	background-color: #C2DDDE; */
	display: flex;
	padding: 20px;
	/* 	background-color: #b3d5d5; */
	/* background-color: #b7d5db; */
	background: rgba(255, 255, 255, 0.5);
	width: 100%;
	margin: 20px auto;
	border-radius: 5px;
}

.genre-img {
	width: 30%;
	height: 250px;
	object-fit: cover;
	margin-right: 30px;
}

.genre-title {
	/* 	display: flex; */
	padding: 10px;
	background-color: #d9eaea;
	width: 430px;
	height: 60px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 5px;
}


#topbutton {
   /* ▼ボタンの表示位置を画面の右下に固定 */
   position: fixed; /* ←表示場所を固定 */
   bottom: 100px;   /* ←下端からの距離 */
   right: 150px;    /* ←右端からの距離 */
   /* ▼最初は非表示にしておく */
   display: none;
	/* ▼配色・配置・文字の装飾など */
	margin: 0px; /* ←外側の余白 */
	font-size:40px;
	line-height: 0.2;
}	
	
#topbutton a {
   /* ▼リンクの装飾 */
    color: #407595;  
      text-decoration: none; /* ←下線なし */
}    

	












