@charset "UTF-8";
body {
	background-color: #d9eaea;
	color: #28495D;
}

.wrapper {
	max-width: 60%;
	margin: 0 auto;
	padding: 20px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
}

.article-name {
	font-weight:bold;
	font-size:30px;
	margin-left:20px;
	line-height:0;
}

.katamari{
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
}

.katamari2{
	display:flex;
}

.imageUrl{
	width:60%;
}

.nakami{
	width:35%;
}

.review{
	padding: 10px;
	background-color: #d9eaea;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 300px;
	text-align: center;
}

img{
	width:90%;
	border-radius: 5px;
}

#mo{
display: none;
}

button {
	margin-top: 10px;
}


#modoru{
	display: block;
    width: 80px;
    text-align: center;
    text-decoration: none;
    padding:5px 10px;
	border-radius: 100vw;
	border: none;
	color: #fff;
	background:  rgba(0,73,147,0.7);
	cursor:pointer;
}

#modoru:hover{
	background: #000453;
}


#modoru2 {
	display: none;
}
