@charset "UTF-8";
body {
	color: #28495D;
}

body {
	position: relative;
/* 	background-color: rgba(217, 234, 234, 1); */
	background-color: rgba(	210,180,140, 1);
	margin: 0;
}

body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
/* 	background-image: url("https://beiz.jp/images_M/watercolor/watercolor_00602.jpg"); */
	background-image: url("https://beiz.jp/images_M/pastel/pastel_00118.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.75;
	z-index: -1;
}

.wrapper {
	max-width: 60%;
	margin: 0 auto;
	padding: 20px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	margin-top:20px;
}

.article-name {
	font-weight:bold;
	font-size:30px;
	margin-left:20px;
	line-height:0;
}

.katamari{
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
}

.katamari2{
	display:flex;
}

.imageUrl{
	width:60%;
}

.nakami{
	width:35%;
}

.review{
	padding: 10px;
	background-color: #d9eaea;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 300px;
	text-align: center;
}

img{
	width:90%;
	border-radius: 5px;
}

#mo{
display: none;
}

button {
	margin-top: 10px;
}


#modoru{
	display: block;
    width: 80px;
    text-align: center;
    text-decoration: none;
    padding:5px 10px;
	border-radius: 100vw;
	border: none;
	color: #fff;
	background:  rgba(0,73,147,0.7);
	cursor:pointer;
}

#modoru:hover{
	background: #000453;
}


#modoru2 {
	display: none;
}

#okiniiri{
	display: block;
/*     width: 100px; */
    text-align: center;
    text-decoration: none;
    padding:5px 10px;
	border-radius: 100vw;
	border: none;
	color: #fff;
	background:  rgba(250,128,114,0.7);
	cursor:pointer;
	margin-left:30px;
}

#okiniiri:hover{
	background: #F08080;
}

.botan{
	display:flex;
}











