@charset "UTF-8";

.wrapper {
	background-color:#DDA0DD;
}

button {
  background-color: #4CAF50; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  padding: 10px 20px; /* ボタンのパディング（上下左右の余白） */
  border: none; /* ボタンの枠線をなくす */
  cursor: pointer; /* カーソルをポインターに変更 */
}

button:hover {
  background-color: #45a049; /* ホバーエフェクト時の背景色 */
}