@charset "UTF-8";

/* 親要素 */
header {
	position: relative;
	width: 100%;
}

body {
	color: #28495D;
}

body {
	position: relative;
/* 	background-color: rgba(217, 234, 234, 1); */
	background-color: rgba(	210,180,140, 1);
	margin: 0;
}

body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
/* 	background-image: url("https://beiz.jp/images_M/watercolor/watercolor_00602.jpg"); */
	background-image: url("https://beiz.jp/images_M/pastel/pastel_00118.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.75;
	z-index: -1;
}


.session {
	position: absolute;
	color: white;
	top: 20%;
	right: -5%;
	transform: translate(-50%, -50%);
}

#user_container {
	position: relative;
	box-sizing: border-box;
}

#user_container input[type="text"] {
	border: none;
	background-color: transparent;
}

/* 入力するためにクリックした際の黒枠をなくす */
#user_container input[type="text"]:focus {
	outline: 0;
	background-color: transparent;
}

#user_container {
	border: 1.5px solid #fff;
	padding: 3px 5px;
	border-radius: 20px;
	width: 265px;
	overflow: hidden;
}

#user_container input[type="submit"] {
	cursor: pointer;
	border: none;
	background: rgba(0, 73, 147, 0.5);
	color: #fff;
	position: absolute;
	width: 50px;
	height: 3.0em;
	right: 0px;
	top: -5px;
	outline: none;
}

#user_container input[type="submit"]:hover {
	background: rgba(0, 73, 147, 1);
}

#user_container ::-webkit-input-placeholder {
	color: #FFF;
}

.welcomemessage {
	/* 	background:  rgba(0,73,147,0.5); */
	display: flex;
}

.welcomemessage p {
	margin: 0;
}

.gomypage-button {
	margin: auto;
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	margin: 0 0 0 10px;
	background-image: linear-gradient(90deg, #FFF, #FFF); /* 線の色 */
	background-repeat: no-repeat;
	background-position: left bottom; /* 線の起点を左・下に設定 */
	background-size: 0 1px; /* 線の横幅を0、縦幅を1pxに */
	transition: background-size 0.5s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.gomypage-button:hover {
	background-size: 100% 1px; /* 線の横幅を100%にする */
}

/* 子要素 */
h1 {
	position: absolute;
	color: white;
	top: 26%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Yusei Magic', sans-serif;
	letter-spacing: 4px;
}

.img-header {
	position: relative;
	width: 100%;
	height: 220px;
	object-fit: cover;
	object-position: 25% 67%;
}

.overlay {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 220px;
	background: rgba(235, 113, 68, 0.18);
}

#overlay2 {
	position: absolute;
	top: 0%;
	left: 5%;
	height: 420px;
	background: rgba(255, 255, 255, 0.1);
	width: 95%;
	border-radius: 5px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s;
}

#overlay2:hover {
	opacity: 1;
}

/* 子要素 */
.search {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%, -40%);
	padding: 20px;
	color: #fff;
}

.searchform {
	width: 300px;
	margin: auto;
	text-decoration: none;
	padding: 10px;
	border-radius: 100vw;
	border: none;
	background: rgba(255, 255, 255, 0.5);
}

.searchform2 input[type="text"]:focus {
	outline: 0;
	background: rgba(255, 255, 255, 0.5);
}

.search-button {
	width: 60px;
	margin: auto;
	text-align: center;
	text-decoration: none;
	padding: 7px 10px;
	border-radius: 100vw;
	border: none;
	color: #fff;
	background: rgba(0, 73, 147, 0.5);
	cursor: pointer;
	margin-left: 10px;
}

.search-button:hover {
	background: #000453;
}

.post1 {
	margin-left: 120px;
}

.post {
	margin-left: 20px;
}

/*にゃー*/
.postbutton {
	display: block;
	width: 80px;
	margin: auto;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 100vw;
	border: none;
	color: #fff;
	background: rgba(0, 73, 147, 0.5);
}

.postbutton:hover {
	background: #000453;
}

.postbutton2 {
	display: block;
	width: 80px;
	margin: auto;
	text-align: center;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 100vw;
	border: none;
	color: #fff;
	background: rgba(250, 128, 114, 0.6);
}

.postbutton2:hover {
	background: #F08080;
}

.textalign {
	/*	text-align: center; */
	width: 55%;
	margin: 0 auto;
}

/* 親要素 */
.textin {
	position: relative;
	margin-top: 5px;
}

.textin p {
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	top: 85%;
	left: 8%;
}

.texiin-a {
	text-decoration: none;
	color: white;
}

.indent {
	margin-top: 0;
	line-height: 0.8;
}

.indent-title {
	margin-bottom: 20px;
	font-weight: bold;
}

.indent-sub {
	margin-bottom: 30px;
	padding-left: 5px;
	text-underline-offset: 0.2ex;
}

.indent-sub a:visited {
	color: #28495D;
}

.img {
	width: 95%;
	height: 400px;
	border-radius: 5px;
	cursor: pointer;
}

.img-sub1 {
	width: 46.5%;
	margin-right: 15px;
	border-radius: 5px;
	cursor: pointer;
}

.img-sub {
	width: 46.5%;
	border-radius: 5px;
	cursor: pointer;
}

.image {
	width: 67%;
	text-align: right;
}

.wrapper {
	display: flex;
}

.img-wrapper {
	display: flex;
	justify-content: right;
	margin-top: 15px;
}

#aside {
	width: 30%;
	height: 800px;
	background: rgba(255, 255, 255, 0.5);
	border: dashed 2px #7a9cad;
	border-radius: 5px;
	padding: 10px;
	padding-left: 20px;
	margin-right: 3%;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	margin: 0;
	padding: 0;
}

.nav {
	display: flex;
	width: 55%;
	margin: 0 auto;
	margin-top: 4px;
	margin-bottom: 16px;
}

.nav>li {
	position: relative;
	width: 147px;
	border-right: 1px solid #004993;
}

.nav>li:first-child {
	border-left: 1px solid #004993;
}

.nav a {
	display: block;
	line-height: 1;
	z-index: 1;
	text-decoration: none;
}

.nav {
	flex-flow: row wrap;
}

.nav a {
	padding: 0.5em 0;
	font-size: 16px;
	color: #004993;
	text-align: center;
}

.has-sub-title {
	font-weight: bold;
}

.sub {
	display: none;
	position: absolute;
	left: 0;
	top: 2em;
	width: 100%;
	z-index: 3;
}

.sub>li>a {
	font-size: 16px;
	color: #fff;
	line-height: 1.75;
	background: rgba(0, 113, 185, 0.6);
}

.sub>li>a:hover {
	background-color: #004b83;
	opacity: 1;
}

.sub.active {
	min-height: 180px;
}

/* レスポンシブ */
@media screen and (max-width: 1366px) {
	.img-header {
	height: 180px;
	}
	.overlay {
	height: 180px;
	}
	.session {
	position: absolute;
	color: white;
	top: 22%;
	right: -10%;
	transform: translate(-50%, -50%);
	}
	#sessionmessage{
	margin-bottom:1px;
	}
	#user_container {
	border: 1px solid #fff;
	padding: 3px;
	border-radius: 20px;
	width: 250px;
	overflow: hidden;
	}
	h1 {
	font-size:30px;
	top: 25%;
	}
	.textalign {
    width: 70%;
    }
    .search {
	width:70%;
	padding: 10px;
	top:60%;
	}
    .nav {
	width: 70%;
	}
    #aside {
    width: 32%;
	height: 680px;
	padding-left: 10px;
	padding-right: 0;
	margin-right: 0;
	}
	.nav>li {
	width: 125px;
	}
	.indent {
	line-height: 0.5;
	}
	.searchform {
	width: 250px;
/* 	padding: 7px; */
	}
	.nav {
    margin-bottom: 10px;
	}
	.postbutton {
	padding: 5px;
	}
	.postbutton{
	padding: 5px;
	}
	.gomypage-button {
	margin-right:20px;
	}
}

@media screen and (max-width: 960px) {
  
}
@media screen and (min-width: 960px) {
  
}



































