<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/article.css">
<meta charset="UTF-8">
<title>詳細</title>
</head>
<body>
	<div class="wrapper">▷選択した記事の詳細
	
		<!-- <div th:each="article: ${articles}">-->
			<div>穴場度：
					<span th:switch="${article.level}">
						<span th:case ="1">★</span>
						<span th:case ="2">★★</span>
						<span th:case ="3">★★★</span>
						<span th:case ="4">★★★★</span>
						<span th:case ="5">★★★★★</span>
		 			</span>
		 		</div>
			<h1 th:text="${article.name}"></h1>
			<img th:src="${article.imageUrl}"/>
			<h2 th:text="${article.title}"></h2>
			<h4 th:text="${article.review}"></h4>
			<p>所在地:<span th:text="${article.address}"></span></p>
			<div th:switch="${article.hasParking}">
				<p th:case ="true"> 駐車場あり</p>
 				<p th:case ="false"> 駐車場なし</p>
			</div>
			
			<p>行った月：<span th:text="${article.month}"></span>月</p>
			<a th:href = "@{/delete/{id}(id=${article.id})}" >削除</a>
			
		<!--   </div> -->
		
		<a th:href = "@{/returnTop}">戻る</a>
	</div>
</body>

</body>
</html>