<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>詳細</div>
	
		<!-- <div th:each="article: ${articles}">-->
			<a th:href = "@{/delete/{id}(id=${article.id})}" th:text="${article.name}">ここ押すと削除</a>
			<p th:text="${article.title}"></p>
			<p th:text="${article.address}"></p>
			<p th:text="${article.hasParking}"></p>
			<p th:text="${article.month}"></p>
			<p th:text="${article.level}"></p>
			<p th:text="${article.review}"></p>
			<img th:src="${article.imageUrl}"/>
		<!--   </div> -->
	
</body>

</body>
</html>