<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/genre.css">
<meta charset="UTF-8">
<title>Genre</title>
</head>
<body>

	<div class="wrapper">

		<a th:href="@{/returnTop}">戻る</a>

	
		<div th:each="article: ${articles}">
		<div class="article">
		<img class="genre-img"   th:src="${article.imageUrl}" />
		
		<div class="article-text">
			<a th:href="@{/doDisplayAirticle/{id}(id=${article.id})}"
				th:text="${article.name}"></a><br/>
			<p>所在地：<span th:text="${article.address}"></span></p>
			<p>穴場度：<span th:text="${article.level}"></span></p>
			<p class ="genre-title"th:text="${article.title}"></p>
		</div>

			
		</div>
		</div>


	</div>

</body>
</html>