<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/genre.css}">

<meta charset="UTF-8">
<title>Genre</title>

</head>
<body>

	<div class="wrapper">
	
	

		<a th:href="@{/returnTop}">戻る</a>

	
		<div th:each="article: ${articles}">
		<div class="article">
		<img class="genre-img"   th:src="${article.imageUrl}" />
		
		<div class="article-text">
			<a th:href="@{/doDisplayAirticle/{id}(id=${article.id})}"
				th:text="${article.name}"></a><br/>
			<p>所在地：<span th:text="${article.address}"></span></p>
			<div>穴場度：
					<span th:switch="${article.level}">
						<span th:case ="1">★</span>
						<span th:case ="2">★★</span>
						<span th:case ="3">★★★</span>
						<span th:case ="4">★★★★</span>
						<span th:case ="5">★★★★★</span>
		 			</span>
		 	
		 	</div>
		 	<p th:text="${article.genre.genreName}">
			<p class ="genre-title"th:text="${article.title}"></p>
		</div>
		
			
		</div>
		</div>


	</div>

</body>
</html>