<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/mypage.css}" rel="stylesheet">

<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}"
	crossorigin>
<link
	th:href="@{https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap}"
	rel="stylesheet">


<meta charset="UTF-8" />
<title>マイページ</title>
</head>
<body>

	<header class="header">
		<img class="img-header"
			src="https://d1d37e9z843vy6.cloudfront.net/jp/images/3980978/8647f2c7da12adbe101a42764d34dd7440c947cb.jpeg"
			alt="sea">
		<div class="overlay"></div>
		<div class="h1">
			<div class="h1-nakami">
				<a th:href="@{/returnTop}">今日はどこに行こう？</a>
			</div>
			<p th:inline="text">[[${session.sessionName}]]さんのマイページ</p>
			<a class="h1-nakami2" th:href="@{/doLogout}">ログアウト</a>
		</div>
	</header>



	<div class='tabs'>
		<div class='tab-buttons'>
			<span class='content1'>自分の投稿</span> <span class='content2'>お気に入り</span>

			<div id='lamp' class='content1'></div>
		</div>
		<div class='tab-content'>

			<div class='content1'>



				<div class="wrapper">
					<div th:if="${session.sessionName != null}" id="user-form">

						<div th:each="article: ${articles}">
							<div th:if="${article.sessionId == aaa}">

								<div class="article">
<!-- 									<img class="genre-img" th:src="${article.imageUrl}" /> -->
									<img th:src="@{'data:image/jpeg;base64,'+${imageData}}">

									<div class="article-text">
										<div class="article-katamari">
											<p th:text="${article.name}" class="article-name"></p>

											<p class="article-level">
												穴場度： <span th:switch="${article.level}"> <span
													th:case="1">★</span> <span th:case="2">★★</span> <span
													th:case="3">★★★</span> <span th:case="4">★★★★</span> <span
													th:case="5">★★★★★</span>
												</span>
											</p>
										</div>
										<p>
											所在地：<span th:text="${article.address}"></span>
										</p>
										<p>
											予算：<span th:switch="${article.budget}"> <span
												th:case="1">\1～1,000</span> <span th:case="2">\1,000～2,000</span>
												<span th:case="3">\2,000～3,000</span> <span th:case="4">\3,000～4,000</span>
												<span th:case="5">\5,000～6,000</span> <span th:case="6">\6,000～7,000</span>
												<span th:case="7">\7,000～8,000</span> <span th:case="8">\8,000～9,000</span>
												<span th:case="9">\9,000～10,000</span> <span th:case="10">\10,000～</span>
											</span>
										</p>
										<p th:text="${article.genre.genreName}">
										<p class="genre-title" th:text="${article.title}"></p>
										<p class="goarticle">
											<a th:href="@{/doDisplayAirticle/{id}(id=${article.id})}">記事ページ</a>
										</p>
									</div>


								</div>

							</div>


						</div>
					</div>
				</div>

			</div>

			<div class='content2'>
				<div th:each="Fav: ${favorite}">

					<div th:each="article: ${articles}">

						<div th:if="${article.id == Fav.id}">
							<div th:if="${Fav.sessionId == aaa}">
							<div class="article">
<!-- 								<img class="genre-img" th:src="${article.imageUrl}" /> -->
									<img th:src="@{'data:image/jpeg;base64,'+${imageData}}">
								<div class="article-text">
									<div class="article-katamari">
										<p th:text="${article.name}" class="article-name"></p>

										<p class="article-level">
											穴場度： <span th:switch="${article.level}"> <span
												th:case="1">★</span> <span th:case="2">★★</span> <span
												th:case="3">★★★</span> <span th:case="4">★★★★</span> <span
												th:case="5">★★★★★</span>
											</span>
										</p>
									</div>
									<p>
										所在地：<span th:text="${article.address}"></span>
									</p>
									<p>
										予算：<span th:switch="${article.budget}"> <span
											th:case="1">\1～1,000</span> <span th:case="2">\1,000～2,000</span>
											<span th:case="3">\2,000～3,000</span> <span th:case="4">\3,000～4,000</span>
											<span th:case="5">\5,000～6,000</span> <span th:case="6">\6,000～7,000</span>
											<span th:case="7">\7,000～8,000</span> <span th:case="8">\8,000～9,000</span>
											<span th:case="9">\9,000～10,000</span> <span th:case="10">\10,000～</span>
										</span>
									</p>
									<p th:text="${article.genre.genreName}">
										<p class="genre-title" th:text="${article.title}"></p>
										<p class="goarticle">
											<a th:href="@{/doDisplayAirticle/{id}(id=${article.id})}">記事ページ</a>
										</p>
									</div>


								</div>

							</div>
							</div>

						</div>
						
				
					</div>
									
			</div>
		</div>
	</div>




	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$('.tab-content>div').hide();
		$('.tab-content>div').first().slideDown();
		$('.tab-buttons span').click(function() {
			var thisclass = $(this).attr('class');
			$('#lamp').removeClass().addClass('#lamp').addClass(thisclass);
			$('.tab-content>div').each(function() {
				if ($(this).hasClass(thisclass)) {
					$(this).fadeIn(800);
				} else {
					$(this).hide();
				}
			});
		});
	</script>








</body>
</html>