<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Post form</title>
</head>
<body>
	<form action="#">
        <p>
            ユーザーID:
            <input type="number" name="useris">
        </p>
        <p>
            ユーザーネーム:
            <input type="text" name="username">
        </p>
        <p>
            性別:
            
        </p>
        	レビュー：
        	 <textarea id="text" name="rebyu"></textarea>
        <p>
            <input type="submit" value="送信">
        </p>
    </form>
</body>
</html>