<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="css/post.css">
<meta charset="UTF-8">
<title>Post form</title>
</head>
<body>
	<div class="wrapper">
		<form method="post" action ="#" th:action="@{/createPost}" th:object= "${postForm}" enctype="multipart/form-data">
			<div class="yokonarabi">
				<div class="yokonarabinakami">

					<div class="form-group0">
						<label for="post-title">投稿タイトル:</label> <input type="text"
							id="post-title" th:field="*{title}">
							<div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
					</div>
					
					
					<div class="form-group">
						<label for="facility">施設名:</label> <input type="text"
							id="facility" name="name" required>
					</div>
					<div class="form-group">
						<label for="address">施設住所:</label> <input type="text" id="address"
							name="address" required>
					</div>
					<div class="form-group2">
						<label>駐車場の有無:</label>
						<div class="radio-group">
							<label for="car-spot-ok"> <input type="radio"
								id="car-spot-ok" name="hasParking" value="true" required>
								〇
							</label> <label for="car-spot-ng"> <input type="radio"
								id="car-spot-ng" name="hasParking" value="false" required>
								×
							</label>
						</div>
					</div>
					<div class="form-group2">

						<label for="visit-month">行った時期:</label> <select class="visit"
							id="visit-month" name="month">
							<option value="1">1月</option>
							<option value="2">2月</option>
							<option value="3">3月</option>
							<option value="4">4月</option>
							<option value="5">5月</option>
							<option value="6">6月</option>
							<option value="7">7月</option>
							<option value="8">8月</option>
							<option value="9">9月</option>
							<option value="10">10月</option>
							<option value="11">11月</option>
							<option value="12">12月</option>
						</select>
					</div>
					<!-- 					<div class="form-group0"> -->
					<!-- 						<label for="post-title">クリックして写真を選ぶ:</label> <input type="text" 
					<!-- 							name="imageUrl"> 
					<!-- 					</div> -->
				</div>

				<div class="yokonarabinakami2">
					<div class="photo-upload">
						<label for="photo-input" class="photo-upload-box"> <span
							id="upload-text">クリックして写真を選ぶ</span> <input type="text" name="imageUrl" required> 
						</label>
						
						
					</div>
<!-- 					<div class="photo-upload"> -->
<!-- 						<label for="photo-input" class="photo-upload-box"> <span -->
<!-- 							id="upload-text">クリックして写真を選ぶ</span> <input type="file" -->
<!-- 							id="photo-input" accept="image/*" style="display: none;" -->
<!-- 							name="imageUrl"> -->
<!-- 						</label> -->
<!-- 					</div> -->
				</div>
			</div>


			<div class="form-group4">
				<label for="hidden-gem">穴場度(1-5):</label>
				<div class="number-list">1
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					2
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					3
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					4
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					5</div>
				<div class="slider">
					<input type="range" class="input-range" min="1" max="5" step="1"
						id="hidden-gem" name="level">
				</div>
				<span class="hidden-gem-value"></span>
			</div>
			<div class="form-group3">
				<label class="genre-title">ジャンル:</label>
				<div class="checkbox-group">
					<label for="genre-drive"> <input type="checkbox"
						id="genre-drive" name="genreId" value="1"> ドライブ
					</label> <label for="genre-history"> <input type="checkbox"
						id="genre-history" name="genreId" value="2"> 歴史・遺産
					</label> <label for="genre-nature"> <input type="checkbox"
						id="genre-nature" name="genreId" value="3"> 自然・公園
					</label> <label for="genre-zoo"> <input type="checkbox"
						id="genre-zoo" name="genreId" value="4"> 動物園・水族館
					</label> <label for="genre-sightseeing"> <input type="checkbox"
						id="genre-sightseeing" name="genreId" value="5"> 観光名所
					</label><label for="genre-activity"> <input type="checkbox"
						id="genre-activity" name="genreId" value="6"> アクティビティ・体験
					</label> <label for="genre-leisure"> <input type="checkbox"
						id="genre-leisure" name="genreId" value="7"> レジャー施設
					</label> <label for="genre-amusement"> <input type="checkbox"
						id="genre-amusement" name="genreId" value="8">
						アミューズメント・テーマパーク
					</label> <label for="genre-art"> <input type="checkbox"
						id="genre-art" name="genreId" value="9"> アート・文化
					</label> <label for="genre-shopping"> <input type="checkbox"
						id="genre-shopping" name="genreId" value="10"> ショッピング
					</label> <label for="genre-food"> <input type="checkbox"
						id="genre-food" name="genreId" value="11"> レストラン・カフェ
					</label> <label for="genre-education"> <input type="checkbox"
						id="genre-education" name="genreId" value="12"> 居酒屋
					</label> <label for="genre-relaxation"> <input type="checkbox"
						id="genre-relaxation" name="genreId)" value="13"> リラックス・温泉
					</label> <label for="genre-movie"> <input type="checkbox"
						id="genre-movie" name="genreId" value="14"> 映像
					</label> <label for="genre-game"> <input type="checkbox"
						id="genre-game" name="genre" value="15"> ゲーム
					</label> <label for="genre-car-convenient"> <input type="checkbox"
						id="genre-car-convenient" name="genreId" value="16"> 車が便利
					</label> <label for="genre-public-transport"> <input
						type="checkbox" id="genre-public-transport" name="genreId"
						value="17"> 公共交通機関で行ける
					</label> <label for="genre-group-enjoyable"> <input type="checkbox"
						id="genre-group-enjoyable" name="genreId" value="18">
						2～5人で楽しめる
					</label> <label for="genre-solo-enjoyable"> <input type="checkbox"
						id="genre-solo-enjoyable" name="genreId" value="19">
						1人で楽しめる
					</label> <label for="genre-large-group"> <input type="checkbox"
						id="genre-large-group" name="genreId" value="20"> 大人数可
					</label> <label for="genre-reservation"> <input type="checkbox"
						id="genre-reservation" name="genreId" value="21"> 予約可
					</label>
				</div>
			</div>
			<div class="form-group5">
				<label for="review">レビュー内容:</label>
				<textarea id="review" name="review" rows="8" cols="40"
					maxlength="2000" required placeholder="レビューを書いてください。(検索結果にも表示されます)"></textarea>
			</div>

			<div class="submit">
				<input class="submit-btn" type="submit" value="投稿" />
			</div>

		</form>
		
<!-- 		<form action="upload" method="post" enctype="multipart/form-data"> -->
<!--   			<input type="file" name="image" accept="image/*"> -->
<!--   			<input type="submit" value="Upload"> -->
<!-- 		</form> -->
	</div>
</body>
</html>
