<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert ti
	tle here</title>
</head>
<body>
	<div id="header">TOP
		<form>
		<input type="text",name = "doSearch"/>
		<input type="submit", value="検索"/>
		</form>
<!--		<form action = "@{/doPost}" method = "get">-->
<!--		<input type="submit", value="投稿"/>-->
<!--		</form>-->
	<a th:href = "@{/post}" >投稿</a>
	
<!--	<form action="@{http://localhost:7777/natuyasumi/post}">-->
<!--        <button type="submit">投稿</button>-->
<!--    </form>-->
	</div>
	

</body>
</html>